---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <div class="label">

            <div class="label-card">
                {% if page.author %}<i class="fa fa-user"></i>{{ page.author }}
                {% else if site.author %}<i class="fa fa-user"></i>{{ site.author }}
                {% endif %}
            </div>

            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ page.date | date: "%F" }}
            </div>


        </div>
        <hr>
        <article itemscope itemtype="http://schema.org/BlogPosting">
            {{content}}
        </article>
        <hr>

        <div class="label">

            <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
            </div>

            <div class="label-card">
                {% include category.html %}
            </div>

            <div class="label-card">
                {% include tag.html %}
            </div>

        </div>

        <hr>

        {% include previousAndNext.html %}

        <!--<h2 id="comments">评论</h2>
             {% include comments.html %}
           -->
        <!-- mathjax -->
        {% if page.mathjax %}
        <script type="text/x-mathjax-config">
		 MathJax.Hub.Config({
             "HTML-CSS": { scale: 90, linebreaks: { automatic: true } },
             SVG: { linebreaks: { automatic:true } },
             /* displayAlign: "center",*/
             tex2jax: {
                 inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                 processEscapes: true,
             }
		 });
		</script>
		<script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        {% endif %}


    </div>
    <button class="anchor"><i class="fa fa-list-ul"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side">
                <div class="title">
                    目录
                </div>
                <!-- <div class="content"> -->
                <div class="content">
                    <ul id="content-side" class="content-ul"/>
                </div>
                <!-- </div> -->
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
<script>
 /**
  * target _blank
  */
 (function() {
     var aTags = document.querySelectorAll('article a:not([id])')
     for (var i = 0; i < aTags.length; i++) {
         aTags[i].setAttribute('target', '_blank')
     }
 }());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
